/*-- scss:defaults --*/


/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Monosphere');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');

/* -- header letter spacing, font weight, color -- */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
  font-weight: 300;
  color: #64605F;
}

/* -- change color of inline code (background-color: #F5F2F2;)-- */ 
code {
  color: #A58893;
}