/*-- scss:defaults --*/

// Base document colors
$navbar-bg: #FDFBF7; //OLD: dark sage green: #98A08D
$navbar-fg: #98A08D; //OLD: cream: #FDFBF7
$navbar-hl: #AE8BD1; //OLD: cream: #FDFBF7
$body-bg: #D1D9CE;
$body-color: #64605f;
$footer-bg: #FDFBF7; 
$link-color: #AE8BD1;

// Font size
$font-family-monospace: 7;

// Inline code
$code-bg: #FDFBF7;
$code-color: #AE8BD1; 

// Code blocks
$code-block-bg: #FDFBF7;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Monosphere');
//@import url('https://fonts.googleapis.com/css2?family=Quicksand');
// $font-family-monospace: "Monosphere", monospace";







/*-- scss:rules --*/

// adjust size of logo (top left corner)
.navbar-brand img {
  max-height: 60px;
  width: auto;
}

// header letter spacing, font weight, color
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
  font-weight: 300;
  color: #64605F;
}

body {
  line-height: 1.5;
}

// change color of inline code (NOW A SASS VAR -- KEEPING AS AN EXAMPLE ONLY)
//code {
  //color: #A58893;
//}

