/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&family=Roboto+Mono:wght@300&display=swap');

// Colors
$light-sage-green: #D1D9CE;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #AE8BD1;

// Base document colors
$navbar-bg: $cream;
$navbar-fg: $dark-sage-green; 
$navbar-hl: $purple; 
$body-bg: $light-sage-green;
$body-color: $gray;
$footer-bg: $cream; 
$link-color: $purple;

// Font size
// $font-family-monospace: 7;

// Inline code
$code-bg: $cream;
$code-color: $purple; 

// Code blocks
$code-block-bg: $cream;

/*-- scss:rules --*/

// adjust size of logo (top left corner; see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss)
.navbar-brand img {
  max-height: 60px;
  width: auto;
}

.about-image img {
  border-radius: 80%;
}

// header letter spacing, font weight, color
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
  font-weight: 300;
  color: #64605F;
}

// body text line height (1.5 min for assistive tech)
body {
  line-height: 1.5;
}


